<style>
    #goToTop {
        display: none;
        position: fixed;
        bottom: 15%;
        transform: translateY(50%);
        right: 37px;
        z-index: 9999;
        background-color: rgba(240, 67, 54, 0.5);
        color: white;
        width: 80px;
        height: 80px;
        transition: 0.3s;
    }
    #goToTop:hover {
        background-color: rgba(240, 67, 54, 0.8);
        border: 1px solid #000000;
    }
</style>
<button class="btn p-0 rounded-5" id="goToTop" onclick="goTop()">
    <i class="fa-solid fs-2 fa-arrow-up m-0"></i>
</button>
