<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/index.html::home(~{::body})}"
>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Pet Shop</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
</head>

<body>
<div class="container-lg main-content px-3" style="background-image: url('/images/background/dog_14.jpg'); background-size: 150%; background-position: 30% 20%;">
    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="d-flex align-items-center justify-content-center mt-5 mb-4">
            <h3 class="fw-bold font-resp text-danger">
                <i class="fa-regular fa-user"></i> Quên mật khẩu
            </h3>
        </div>
    </div>

    <div class="row mt-3" style="margin-top: 100px;">
        <!-- ADVERTISE -->
        <div class="col-lg-3"></div>
        <!-- LOGIN FORM -->
        <div class="col-md-12 col-lg-6" >
            <div
                    class="card shadow border-0 sticky-element"
                    style="top: 100px; z-index: 1"
            >
                <div class="card-body"style="background-image: url('/images/background/dog_6.jpg'); background-size: 20%; background-position: 100% 90%; background-repeat: no-repeat;backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.7);" >
                    <form action="/login" method="post">
                        <h5
                                class="alert font-resp"
                                th:if="${message}"
                                th:text="${message}"
                                th:classappend="${loginStatus == true ? 'alert-success' : 'alert-danger'}"
                        ></h5>
                        <div class="form-floating mb-3">
                            <input
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Tên đăng nhập"
                                    required
                                    type="text"
                            />
                            <label for="Email"><i class="fa-solid fa-user"></i> Email tài khoản</label>
                        </div>
                        <div class="d-flex justify-content-center gap-3 mt-4">
                            <a
                                    id="forgotButton"
                                    class="btn font-resp button-image"
                                    onclick="forgot()"
                                    style="background: #aaccff"
                            >Xác nhận tài khoản <i class="fa-solid fa-paper-plane"></i></a
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function forgot() {
        const email = document.getElementById("email").value;
        const forgotButton = document.getElementById("forgotButton");
        forgotButton.innerHTML =
            '<i class="fa fa-spinner fa-spin"></i> Đang xử lý...';
        forgotButton.disabled = true;
        if (!email) {
            Swal.fire({
                title: 'Thông tin không chính xác',
                text: 'Vui lòng điền đầy đủ thông tin.',
                icon: 'warning',
                confirmButtonText: 'OK'
            });
            forgotButton.disabled = false;
            forgotButton.innerHTML = 'Xác nhận tài khoản <i class="fa-solid fa-paper-plane"></i>';
            return;
        }
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            Swal.fire({
                title: 'Thông tin không chính xác',
                text: 'Vui lòng nhập địa chỉ email hợp lệ.',
                icon: 'warning',
                confirmButtonText: 'OK'
            });
            forgotButton.innerHTML = 'Xác nhận tài khoản <i class="fa-solid fa-paper-plane"></i>';
            forgotButton.disabled = false;
            return;
        }

        // Fetch request to backend
        fetch(`/api/user/forgot-password/${email}`,{
            method: 'PUT'
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Tài khoản không tồn tại'); // Ném lỗi nếu không thành công
                }
                return response.json(); // Chuyển đổi phản hồi thành JSON
            })
            .then((data) => {
                console.log(data);
                Swal.fire({
                    title: 'Gửi Email thành công',
                    text: 'Bạn sẽ được chuyển hướng trong giây lát. Vui lòng kiểm tra Email của bạn!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 3000
                }).then(() => {
                    // Thêm thời gian chờ trước khi load lại trang, ví dụ 2 giây
                    window.location.href= '/login';
                });
            })
            .catch((error) => {
                console.error("Error:", error);
                Swal.fire({
                    title: 'Thông tin không chính xác',
                    text: error.message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                forgotButton.innerHTML = 'Xác nhận tài khoản <i class="fa-solid fa-paper-plane"></i>' // Đưa lại nội dung nút về ban đầu
                forgotButton.disabled = false; // Hiển thị thông báo lỗi
            });
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>