<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index.html::admin(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="mt-3">
    <div class="mt-1 mb-3 rounded-3 overflow-hidden shadow p-4 bg-white">
        <!--BREADCRUMB-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/quan-tri-he-thong">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đơn hàng
                </li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between align-items-center">
            <h1>
                <span>Đơn hàng</span>
                <i class="fas fa-box-open"></i>
            </h1>
<!--            <div>-->
<!--                <button ng-click="exportExcelOrder()" class="btn btn-success px-4 py-3">-->
<!--                    <i class="fa-solid fa-file-excel"></i> Xuất Excel-->
<!--                </button>-->
<!--            </div>-->
        </div>
        <hr>
        <div class="row g-1">
            <div class="col">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">Đang xử lí</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h3>{{dangXuLiLength}}</h3>
                        <h6 class="text-secondary">
                            . trên tổng số
                            <span class="">{{orderData.length}}</span>
                            <span class="fs-6 badge bg-info">{{ (dangXuLiLength / orderData.length * 100) | number:2 }}%</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">Đã xác nhận</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h3>{{daXacNhanLength}}</h3>
                        <h6 class="text-secondary">
                            . trên tổng số
                            <span class="">{{orderData.length}}</span>
                            <span class="fs-6 badge bg-primary">{{ (daXacNhanLength / orderData.length * 100) | number:2 }}%</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">Đang vận chuyển</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h3>{{dangVanChuyenLength}}</h3>
                        <h6 class="text-secondary">
                            . trên tổng số
                            <span class="">{{orderData.length}}</span>
                            <span class="fs-6 badge bg-warning text-dark">{{ (dangVanChuyenLength / orderData.length * 100) | number:2 }}%</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">Đã giao</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h3>{{daGiaoLength}}</h3>
                        <h6 class="text-secondary">
                            . trên tổng số
                            <span class="">{{orderData.length}}</span>
                            <span class="fs-6 badge bg-success">{{ (daGiaoLength / orderData.length * 100) | number:2 }}%</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">Đã hủy</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h3>{{daHuyLength}}</h3>
                        <h6 class="text-secondary">
                            . trên tổng số
                            <span class="">{{orderData.length}}</span>
                            <span class="fs-6 badge bg-danger">{{ (daHuyLength / orderData.length * 100) | number:2 }}%</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-1 mb-5 rounded-3 overflow-hidden shadow p-4 bg-white position-relative">
        <div class="d-flex position-absolute gap-4" style="right: 25px;top: 83px">
            <button ng-click="clearOrderFilter()" class="btn btn-danger ms-auto">Xóa lọc</button>
        </div>
        <table ng-table="ordersTable" class="table text-truncate table-responsive rounded-3 table-hover table-sm  p-5"
               show-filter="true">
            <tr ng-repeat="order in $data" class="align-middle">
                <!-- STT tính toán dựa trên trang hiện tại -->
                <td data-title="'#'" class="p-2 px-3 text-center">
                    <b>{{ (ordersTable.page() - 1) * ordersTable.count() + $index + 1 }}</b>
                </td>
                <td style="width: 150px" class="text-start fw-bold" sortable="'id'" filter="{ 'id': 'text' }"
                    data-title="'ID'">
                    <span class="badge"
                          style="background-color: #1d3557; color: #ffffff; font-size: 1rem;  padding: 0.4rem 0.6rem; border-radius: 0.5rem;">
                        #{{ order.id }}
                    </span>
                </td>
                <td sortable="'userName.fullName'" filter="{ 'userName.fullName': 'text' }"
                    data-title="'Họ và tên'" class="text-start">{{ order.userName.fullName }}
                </td>
                <td sortable="'orderDate'"
                    data-title="'Ngày đặt hàng'" class="text-center">{{ order.orderDate | date: 'dd/MM/yyyy' }}
                </td>
                <td sortable="'totalAmount'"
                    data-title="'Tổng tiền'" class="text-start">{{ order.totalAmount | number: 0 }}đ
                </td>
                <td sortable="'orderStatusID.statusName'" filter="{ 'orderStatusID.statusName': 'text' }"
                    data-title="'Trạng thái'" class="text-start">
                    <select
                            ng-model="order.orderStatusID.id"
                            ng-change="changeOrderStatus(order.id, order.orderStatusID.id)"
                            class="form-select fw-bold"
                            ng-class="order.orderStatusID.id === 1 ? 'text-info' :
                                      order.orderStatusID.id === 2 ? 'text-primary' :
                                      order.orderStatusID.id === 3 ? 'text-warning' :
                                      order.orderStatusID.id === 4 ? 'text-success' : 'text-danger'">
                        <option ng-disabled="isDisabledOption(order.orderStatusID.id,1)" ng-value="1"
                                ng-selected="order.orderStatusID.id === 1"
                                ng-class="order.orderStatusID.id === 1 ? 'text-info fw-bold' : ''">
                            Đang xử lý 🔄
                        </option>
                        <option ng-disabled="isDisabledOption(order.orderStatusID.id,2)" ng-value="2"
                                ng-selected="order.orderStatusID.id === 2"
                                ng-class="order.orderStatusID.id === 2 ? 'text-primary fw-bold' : ''">
                            Đã xác nhận ✔️
                        </option>
                        <option ng-disabled="isDisabledOption(order.orderStatusID.id,3)" ng-value="3"
                                ng-selected="order.orderStatusID.id === 3"
                                ng-class="order.orderStatusID.id === 3 ? 'text-warning fw-bold' : ''">
                            Đang vận chuyển 🚚
                        </option>
                        <option ng-disabled="isDisabledOption(order.orderStatusID.id,4)" ng-value="4"
                                ng-selected="order.orderStatusID.id === 4"
                                ng-class="order.orderStatusID.id === 4 ? 'text-success fw-bold' : ''">
                            Đã giao ✅
                        </option>
                        <option ng-disabled="isDisabledOption(order.orderStatusID.id,5) || order.orderStatusID.id === 4 || order.orderStatusID.id === 3"
                                ng-value="5"
                                ng-selected="order.orderStatusID.id === 5"
                                ng-class="order.orderStatusID.id === 5 ? 'text-danger fw-bold' : ''">
                            Hủy đơn hàng ❌
                        </option>
                    </select>
                </td>
                <td sortable="'paymentStatusID.statusPayment'" data-title="'Trạng thái thanh toán'" class="text-center">
                    <img style="width: 50px" ng-if="order.paymentStatusID.id === 1" class="img-fluid"
                         src="/images/logo/not-paid.webp"
                         alt="">
                    <img style="width: 50px" ng-if="order.paymentStatusID.id === 2" class="img-fluid"
                         src="/images/logo/paid-order-status-01.webp" alt="">
                </td>
                <td data-title="'Xem'" class="text-center">
                    <button ng-click="openOrderDetailModal(order.id)" class="btn open-order-detail-button">
                        <i class="fa-solid fa-expand fs-3 m-1"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>