<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index.html::admin(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="mt-3">
    <div class="mt-1 mb-3 rounded-3 overflow-hidden shadow p-4 bg-white">
        <!--BREADCRUMB-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/quan-tri-he-thong">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thú cưng</li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách thú cưng
                </li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between align-items-center">
            <h1>
                <span>Thú cưng</span>
                <i class="fa-solid fa-paw"></i>
            </h1>
            <div>
                <button ng-click="addPetModal()" class="insert-btn btn px-4 py-3">
                    <i class="fa-solid fa-plus"></i>
                    <span>Thêm thú cưng mới</span>
                </button>
                <button ng-click="exportExcelPet()" class="btn btn-success px-4 py-3">
                    <i class="fa-solid fa-file-excel"></i> Xuất Excel
                </button>
            </div>
        </div>
        <hr>
        <div class="row g-5">
            <div class="col-3">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">ĐÃ BÁN</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h2>{{petAvailableTrueLength}}</h2>
                        <h5 class="text-secondary">
                            . trên tổng số
                            <span class="">{{petData.length}}</span>
                            <span class="fs-6 badge" style="background: #e8f6f6; color: #5cbec4">{{ (petAvailableTrueLength / petData.length * 100) | number:2 }}%</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">CHƯA BÁN</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h2>{{petAvailableFalseLength}}</h2>
                        <h5 class="text-secondary">
                            . trên tổng số
                            <span class="">{{petData.length}}</span>
                            <span class="fs-6 badge" style="background: #fdecf2; color: #f37fa1">{{ (petAvailableFalseLength / petData.length * 100) | number:2 }}%</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">ĐANG BÁN</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h2>{{petEnableTrueLength}}</h2>
                        <h5 class="text-secondary">
                            . trên tổng số
                            <span class="">{{petData.length}}</span>
                            <span class="fs-6 badge" style="background: #e8f6f6; color: #5cbec4">{{ (petEnableTrueLength / petData.length * 100) | number:2 }}%</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card p-4 rounded-4 border-light-subtle shadow-sm">
                    <h4 class="text-secondary">ĐANG ẨN</h4>
                    <div class="d-flex justify-content-start align-items-end">
                        <h2>{{petEnableFalseLength}}</h2>
                        <h5 class="text-secondary">
                            . trên tổng số
                            <span class="">{{petData.length}}</span>
                            <span class="fs-6 badge" style="background: #fdf8ec; color: #e0c366">{{ (petEnableFalseLength / petData.length * 100) | number:2 }}%</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-5 rounded-3 overflow-hidden shadow p-4 bg-white position-relative">
        <div class="d-flex position-absolute gap-4" style="right: 25px;top: 80px">
            <button ng-click="clearPetFilter()" class="btn btn-danger ms-auto">Xóa lọc</button>
        </div>
        <table ng-table="petsTable" class="table table-responsive text-truncate rounded-3 table-hover table-sm  p-5"
               show-filter="true">
            <tr ng-repeat="pet in $data" class="align-middle">
                <td data-title="'#'" class="p-2 px-3 text-center">
                    <b>{{ (petsTable.page() - 1) * petsTable.count() + $index + 1 }}</b>
                </td>
                <td data-title="'Hình ảnh'" class="text-center">
                    <img height="100px" width="100px" ng-src="/images/pet/{{ pet.photo }}" alt="{{ pet.photo }}"
                         class="img-thumbnail pet-image">
                </td>
                <td sortable="'petID'" class="text-start text-wrap fw-bold" filter="{ 'petID': 'text' }"
                    data-title="'Pet Id'">
                    <a href="/pet/detail/{{ pet.petID }}">{{ pet.petID }}</a>
                </td>
                <td sortable="'breed'" class="text-start" filter="{ 'breed': 'text' }" data-title="'Giống'">{{ pet.breed
                    }}
                </td>
                <td sortable="'petCategoryID.petCategoryName'" filter="{ 'petCategoryID.petCategoryName': 'text' }"
                    data-title="'Loài'" class="text-start text-wrap">{{ pet.petCategoryID.petCategoryName }}
                </td>
                <td sortable="'price'" filter="{ 'price': 'number' }" data-title="'Giá'">{{ pet.price | number :
                    '0'}}đ
                </td>
                <td sortable="'createDate'" data-title="'Ngày thêm'">{{ pet.createDate |
                    date: 'dd/MM/yyyy'}}
                </td>
                <td sortable="'gender'" data-title="'Giới tính'" class="text-center">
                    <span ng-if="pet.gender" class="badge bg-primary">Đực</span>
                    <span ng-if="!pet.gender" class="badge bg-warning">Cái</span>
                </td>
                <td sortable="'available'" data-title="'Trạng thái'" class="text-center">
                    <div ng-if="pet.available" class="text-success">
                        <i class="fa-solid fa-circle"></i>
                        <span>Đã bán</span>
                    </div>
                    <div ng-if="!pet.available" class="text-warning">
                        <i class="fa-solid fa-circle"></i>
                        <span>Chưa bán</span>
                    </div>
                </td>
                <td data-title="'Tool'" class="text-center">
                    <div>
                        <button ng-click="petEdit(pet)" class="btn btn-outline-secondary">
                            <i class="fa-solid fa-pen"></i>
                            <span>Sửa</span>
                        </button>
                        <button class="btn btn-outline-danger" ng-click="deletePet(pet.petID)">
                            <i class="fa-solid fa-xmark"></i>
                            <span>Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>