<style>
    input[type="file"] {
        width: 85px;
        overflow: hidden;
        cursor: pointer;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="editProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header bg-color">
                <h5 class="modal-title" id="editProductLabel">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="addProductModal">
                    <div class="row">
                        <!-- Cột 1 -->
                        <div class="mb-3">
                            <label for="productName">Chọn tên sản phẩm:</label>
                            <input ng-model="selectedProduct.productName" type="text" class="form-control"
                                   id="productName"
                                   name="productName"
                                   placeholder="Nhập tên sản phẩm" required ng-minlength="10" ng-maxlength="255">
                            <span ng-show="addProductModal.productName.$touched && addProductModal.productName.$invalid"
                                  class="text-danger fst-italic">
                                Vui lòng nhập tên sản phẩm (từ 10 đến 255 ký tự).
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="productCategory" class="form-label">Chọn loại sản phẩm:</label>
                            <select name="productCategory" class="form-select" id="productCategory"
                                    ng-model="selectedProduct.productCategoryID.id"
                                    placeholder="Chọn loại thú cưng..." required>
                                <option ng-repeat="pc in productCategoryData" ng-value="pc.id">
                                    {{pc.productCategoryName}}
                                </option>
                            </select>
                            <span ng-show="addProductModal.productCategory.$touched && addProductModal.productCategory.$invalid"
                                  class="text-danger fst-italic">
                                Vui lòng chọn loại sản phẩm.
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="price">Giá:</label>
                            <input ng-model="selectedProduct.price" type="number" class="form-control" id="price"
                                   name="price"
                                   placeholder="Nhập giá" required min="10000" max="99999999">
                            <span ng-show="addProductModal.price.$touched && addProductModal.price.$invalid"
                                  class="text-danger fst-italic">
                                Vui lòng nhập giá (từ 10,000 đến 99,999,999).
                            </span>
                        </div>
                        <!-- Cột 2 -->
                        <div class="mb-3">
                            <label for="quantity">Số lượng:</label>
                            <input ng-model="selectedProduct.quantity" type="number" class="form-control" id="quantity"
                                   placeholder="Nhập số lượng" required min="0" name="quantity">
                            <span ng-show="addProductModal.quantity.$touched && addProductModal.quantity.$invalid"
                                  class="text-danger fst-italic">
                                    Vui lòng nhập số lượng.
                            </span>
                        </div>
                        <!--                        <div class="mb-3">-->
                        <!--                            <label>Trạng thái</label>-->
                        <!--                            <div class="form-check form-check-inline">-->
                        <!--                                <input ng-checked="selectedProduct.available == true"-->
                        <!--                                       ng-model="selectedProduct.available" class="form-check-input"-->
                        <!--                                       type="radio" id="conHang" value="true">-->
                        <!--                                <label class="form-check-label" for="conHang">Còn hàng</label>-->
                        <!--                            </div>-->
                        <!--                            <div class="form-check form-check-inline">-->
                        <!--                                <input ng-checked="selectedProduct.available == false"-->
                        <!--                                       ng-model="selectedProduct.available" class="form-check-input"-->
                        <!--                                       type="radio" id="hetHang" value="false">-->
                        <!--                                <label class="form-check-label" for="hetHang">Hết hàng</label>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="mb-3">
                            <label for="proDes">Thông tin chi tiết:</label>
                            <textarea ng-model="selectedProduct.productDescription" class="form-control"
                                      placeholder="Thông tin chi tiết" id="proDes" required name="proDes"
                                      ng-minlength="10" ng-maxlength="255">
                            </textarea>
                            <span ng-show="addProductModal.proDes.$touched && addProductModal.proDes.$invalid"
                                  class="text-danger fst-italic">
                                Vui lòng nhập thông tin chi tiết (từ 10 đến 255 ký tự).
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="photo" class="me-2">Chọn ảnh sản phẩm:</label>
                            <div class=" d-flex align-items-center">
                                <input ng-model="selectedProduct.photo" type="text" class="form-control me-2" id="photo"
                                       placeholder="Hình ảnh" required name="photo">
                                <input type="file" id="fileInput" accept="image/*"
                                       onchange="angular.element(this).scope().updatePhotoProductName(this)">
                            </div>
                            <span ng-show="addProductModal.photo.$touched && addProductModal.photo.$invalid"
                                  class="text-danger fst-italic">
                                Vui lòng chọn ảnh sản phẩm.
                            </span>
                        </div>
                        <div class="text-center" ng-if="selectedProduct.photo">
                            <img height="300px" width="300px"
                                 ng-src="/images/product/{{ selectedProduct.photo }}"
                                 alt="{{ selectedProduct.photo }}"
                                 class="img-thumbnail">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-disabled="addProductModal.$invalid" type="button" class="btn btn-primary"
                        ng-click="addProduct()">
                    <span>Thêm</span> <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
